/* Genéricas */
body{
  margin: 0;
}
ul.slide{
  margin: 0;
  list-style: none;
}
.slide-wrapper img{
  display: block;
  max-width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

/* Essenciais */
.slide-wrapper{
  overflow: hidden;
  cursor: grab;
  padding: 2rem 0;
}
.slide{
  display: flex;
  gap: 4rem;
  width: max-content;
  padding: 0;
}
.slide:hover{
  will-change: transform;
}
.slide li{
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  opacity: .8;
  transform: scale(80%);
  transition: .3s;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 8px;
}
.slide li.active{
  opacity: 1;
  transform: scale(100%);
}
.arrow-nav{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}
.arrow-nav button{
  width: 2rem;
  height: 2rem;
  user-select: none;
  border: 3px solid #fb3;
  border-radius: 6px;
  cursor: pointer;
}

[data-control]{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  padding: 0;
}
[data-control] li{
  list-style: none;
}
[data-control] li.active a{
  background-color: rgb(255, 44, 37);
  transition: .2s;
}
[data-control] li a{
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: #fb3;
  color: transparent;
  border-radius: 100%;
  cursor: pointer;
}